* {
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  background: url(airindia.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  padding-left: 20px;
  margin-top: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(198, 0, 0);
  font-style: oblique;
  border-radius: 5px;
  border: 2px solid rgb(113, 0, 0);
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  margin-top: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 16px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  transition: 0.6s ease-in-out;
}

ul li a:hover {
  color: red;
}

.search {
  margin-top: 35px;
  width: 360px;
  float: left;
  margin-left: 240px;
}

.srch {
  margin-left: 30px;
  font-family: arial;
  width: 200px;
  height: 30px;
  float: left;
  background: transparent;
  border-radius: 5px;
  color: white;
  font-style: arial;
}

.button {
  margin-left: 3px;
  width: 100px;
  height: 30px;
  float: left;
  background: rgb(198, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.srch:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}

.content {
  color: white;
  margin-top: 120px;
  margin-left: 60px;
  font-size: 20px;
}

.bt {
  background: rgb(223, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.bt:hover {
  color: rgb(113, 0, 0);
  background: white;
}

.content span {
  color: rgb(223, 0, 0);
}

.form {
  width: 250px;
  height: 60vh;
  padding-top: 10px;
  padding-left: 20px;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: 190px;
  left: 870px;
  margin-left: 100px;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

.form h2 {
  margin-left: 40px;
  border-radius: 10px;
  border: white;
  width: 160px;
  border-radius: 5px;
  border: 0.2px solid rgb(95, 0, 0);
  text-align: center;
  font-style: arial;
  color: rgb(255, 255, 255);
  font-size: 25px;
  background: rgb(211, 0, 0);
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 2px solid rgb(211, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
}

.buttonlog {
  top: 5px;
  left: 80px;
  background: red;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border: 0.2px solid rgb(128, 0, 0);
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.buttonlog:hover {
  color: rgb(128, 0, 0);
}

.signup:hover {
  color: red;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
